

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  background: #cc2b5e;
  background: -webkit-linear-gradient(to right, #753a88, #cc2b5e);
  background: linear-gradient(90deg, #753a88, #cc2b5e);
  font-family: "Montserrat", serif;
  margin-top: 50px;
}
.btn {
  padding: 0.6rem 2rem;
  background: rgb(70, 129, 152);
  color: white;
  border-radius: 0.6rem;
  cursor: pointer;
  font-family: "Montserrat", serif;
  font-size: 1.2rem;
  font-weight: 700;
}
.btn:hover {
  background: rgb(39, 109, 137);
  color: white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444444;
  margin-top: 50px;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
  margin-bottom: 50px;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 40px 30px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  margin-top: 100px;
}

.message {
  margin-top: 40px;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}
.logout_btn {
  text-decoration: none;
  color: #333333;
}
.logout_btn:hover {
  text-decoration: none;
  color: white;
}
form {
  background-color: aquamarine;
  padding: 40px;
}